/.idea
/target
/project
/.settings
scala-archetype-simple/.cache
./.settings/*
/.settings
/*.cache
*.class
./00.sh
*.aux
*#
*.bak
*.bbl
*.blg
/.cache
*.class
*.dvi
*.eml
*.iml
*.log
/.metadata/
./morning.html.sh
./morning.sh
*.out
*.pdf
*.prefs
_rev.tex
/.scala_dependencies
*.swp
*.synctex.gz
*.nav
*.snm
/target
texput.*
tin
*.toc
*.xmi
*.yaml
*~
*.tmp
*..tmp
*..ps
*..tex
*\\
*.zip
*.vim
ScalaCommon.jar
lib/*
*QuickMain*
*QuickJava*
**/*GitIgnore.*
